.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 0 0;
  .icon {
    width: 64px;
    height: 68px;
  }
  .appName {
    font-size: 32px;
    font-weight: bold;
    background-image: linear-gradient(to top, #868066 0%, #e8c2b1 100%);
    -webkit-text-fill-color: transparent ;
    -webkit-background-clip: text;
  }
}
