@import './assets/stylesheet/reset.scss';
@import './assets//stylesheet/helper.scss';
@import './assets/stylesheet/vars.scss';

body {
    font-family: $font-hei;
    font-size: 16px;
    color: #4a4a4a;
}
::webkit-scrollbar {
    visibility: hidden;
  }